src/.vs/
temp/
src2/
src/packages/
src/Ormico.DbPatchManager.Cmd/*.user
src/Ormico.DbPatchManager.Cmd/bin/Debug
src/Ormico.DbPatchManager.Cmd/bin/Release
src/Ormico.DbPatchManager.Cmd/obj/Debug
src/Ormico.DbPatchManager.Cmd/obj/Release
src/Ormico.DbPatchManager.SqlServer/bin/Debug
src/Ormico.DbPatchManager.SqlServer/bin/Release
src/Ormico.DbPatchManager.SqlServer/obj/Debug
src/Ormico.DbPatchManager.SqlServer/obj/Release
src/*.user
src/Ormico.DbPatchManager/bin/Debug
src/Ormico.DbPatchManager/bin/Release
src/Ormico.DbPatchManager/obj/Debug
src/Ormico.DbPatchManager/obj/Release
